.error {
  margin-top: 0.2rem;
  color: #f33;
  border-bottom: 2px solid red;
}


.errorSpan {
  margin-top: 0.2rem;
  color: #f33;
}

.buttonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2em 0 0 0;
}

.buttonContainer div {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #1e1e1e;
  margin-bottom: 1rem;
  margin-top: 1rem;

}


.buttonContainer button[type="submit"] {
  border-radius: 5em;
  border: none;
  color: #fff;
  background-color: hsl(226deg, 100%, 70%);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 0;
}

.buttonContainer button[type="submit"]:hover {
  color: black;

}

.wrapper input {
  margin-top: 0;
  margin-bottom: .5rem;
  cursor: pointer;
}