.container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img{
    background-image: url('../../Img/img.png');
    width:200px;
    height:150px;
    background-position-x: -6.5rem;
}