.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chartbar {
    display: flex;
    justify-content: center;
    min-width: 10rem;
    height: 100%;
    min-height: 100vh;
}