.menu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1.5rem;
  margin-right: 4rem;
}

.menu__link {
  border: none;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 3em;
  font-size: 1em !important;
  transform: translateY(0);
  transition: all 0.25s ease;
}

.menu__link:hover {
  transition: all 0.25s;
  transform: translateY(-7px);
}

.menu__link::after {
  display: none;
  content: "";
  position: absolute;
  bottom: -1em;
  left: 50%;
  transform: translate(-50%, 0);
  width: 0.5em;
  height: 0.5em;
  border-radius: 100%;
  background-color: transparent;
  transition: all 0.25s;
}

.menu__link:hover::after {
  display: block;
  bottom: -0.5em;
  background-color: rgb(255, 20, 150)
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  color: white;
}

.menu__link.logout::after {
  background-color: #f33;
}

.active::after {
  display: none !important;
}

.active:hover,
.column .menu__link:hover {
  transform: translateY(0);
}

.active:hover::after {
  transform: translateY(0);
}



.active {
  border-bottom: 2px solid rgb(255, 20, 150);
  cursor: default;

}

.logout {
  margin-left: 00px;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1em;
}